<template>
  <v-fade-transition mode="out-in">
    <v-jumbotron
     v-if="!isHome"
    height="40vh"
    :src="heroImage"
    gradient="to top, rgba(10, 0, 0, .5), rgba(30, 40, 30, .85)"
    :key="$route.path"
    >
      <v-fade-transition mode="out-in">
        <v-container
          fill-height
          :key="$route.path"
          v-if="isBooted"
        >
          <v-layout align-center>
            <v-slide-x-transition mode="out-in" appear>
              <v-flex
                text-xs-center
                :key="$route.path"
              >
                <h1 class="display-2 white--text" v-html="title" />
                <div
                  class="subheading white--text"
                  v-html="subTitle"
                  v-if="subTitle"
                />
              </v-flex>
            </v-slide-x-transition>
          </v-layout>
        </v-container>
      </v-fade-transition>
    </v-jumbotron>
  </v-fade-transition>
</template>

<script>
  export default {
    data: () => ({
      isBooted: false
    }),

    computed: {
      isHome () {
        return this.$route.path === '/'
      },
      namespace () {
        const path = this.$route.path.slice(1)

        return this.isHome
          ? 'Home'
          : `${path.substr(0, 1).toUpperCase()}${path.slice(1)}`
      },
      title () {
        return this.$t(`Views.${this.namespace}.jumbotronTitle`)
      },
      subTitle () {
        return this.$t(`Views.${this.namespace}.jumbotronSubTitle`)
      },
      heroImage () {
        return `/static/${this.namespace.toLowerCase()}-hero.jpg`
      }
    },

    mounted () {
      setTimeout(() => {
        this.isBooted = true
      }, 200)
    }
  }
</script>
