<template>
  <v-toolbar
    app
    dark
    color="secondary"
  >
  <v-toolbar-side-icon  @click="toggleDrawer"></v-toolbar-side-icon>
    <v-spacer />
    <v-toolbar-items v-if="$vuetify.breakpoint.mdAndUp">
      <v-btn
        active-class="primary--text"
        flat
        v-for="(item, i) in items"
        :key="i"
        :to="item.to"
        @click="onClick(item)"
      >
        <span v-text="item.text" />
      </v-btn>
    </v-toolbar-items>
 <v-spacer />
  </v-toolbar>
</template>
<script>
  import { mapMutations } from 'vuex'
  export default {
    data: () => ({
    }),

    computed: {
      items () {
        return this.$t('Layout.Toolbar.items')
      }
    },

    methods: {
      ...mapMutations({
        toggleDrawer: 'TOGGLE_DRAWER'
      }),
      onClick (e) {
        this.$router.push(e.to)
      }
    }
  }
</script>
