<template>
  <v-container fill-height>
    <v-layout wrap justify-center align-center>
      <v-flex>
          <v-card>
            
          </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {

}
</script>

<style>

</style>
