<template>

<v-container fill-height>
  <v-layout wrap justify-center align-center>
    <v-flex fill-height>
    <h1>About</h1>
    <v-card>
      <v-avatar></v-avatar>
    </v-card>
  </v-flex>
<v-flex>
<alpha-card-feature
cardHeight="250px"
:features="features"
></alpha-card-feature>
    </v-flex>
  </v-layout>
</v-container>

</template>

<script>
export default {
  name: 'About',
  data: () => ({
    features: [
      {img: 'about-hero', title: 'A propos', text: 'The Text'}
    ]
  })
}
</script>

<style>

</style>
