<template>
<v-container fill-height>
  <v-layout column>
  <v-layout wrap justify-center align-center>
    <v-flex shrink>
          <h1>Contact here</h1>
    </v-flex>
  </v-layout>

  </v-layout>

</v-container>
</template>

<script>

export default {
  name: 'Contact'
}
</script>

<style>

</style>
