<template>
  <v-container fill-height id="home-wrapper">
    <v-layout wrap justify-center align-center id="home-layout-1">
      <v-flex xs12>
        <macfly-carousel
        :dark="false"
        :items="items"
        ></macfly-carousel>
      </v-flex>

      <v-flex shrink>
        <h1 id="home-title" class="display-2 wobble-vertical" v-text="$t('title')" />
      </v-flex>
      <v-flex xs12 text-xs-center>
        <v-btn
        class="icon-forward"
        color="primary"
        outline
        large
        >ENTRER
        </v-btn>
        <v-speed-dial
        class="mcDial"
        fab
        open-on-hover
        direction="bottom"
        hover
        large
        color="primary"
        >
        <v-btn
        slot="activator"
        color="primary"
        dark
        fab
        hover
        v-model="fab"
      >
        <v-icon>account_circle</v-icon>
        <v-icon>close</v-icon>
      </v-btn>
      <v-btn
        fab
        dark
        small
        color="green"
      >
        <v-icon>edit</v-icon>
      </v-btn>
      <v-btn
        fab
        dark
        small
        color="indigo"
      >
        <v-icon>add</v-icon>
      </v-btn>
      <v-btn
        fab
        dark
        small
        color="red"
      >
        <v-icon>delete</v-icon>
      </v-btn>
        </v-speed-dial>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
  import MacflyCarousel from '@/components/macfly/MacflyCarousel'

  export default {
    name: 'HomeView',
    components: {
      MacflyCarousel
    },
    data: () => ({
      msg: 'Hello',
      fab: false,
      items: [
        {src: '/static/images/carousel/photo-1.jpg'},
        {src: '/static/images/carousel/photo-2.jpg'},
        {src: '/static/images/carousel/photo-3.jpg'},
        {src: '/static/images/carousel/photo-4.jpeg'},
        {src: '/static/images/carousel/photo-5.jpeg'},
        {src: '/static/images/carousel/photo-6.jpg'}
      ]
    }),
    created () {
    }
  }
</script>
<style>
  .mcDial, .speed-dial {
    position: absolute;
    left: 95vw!important;
    top: 10vh;
  }

  .mcDial .btn--floating {
    position: relative;
  }

#home-title {
  padding: 2rem 2rem;
  border: 1px #333 solid;
}
/* Wobble Vertical */
@keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
}
.wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  animation-name: wobble-vertical;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

/* Icon anim */
/* Icon Forward */
.icon-forward {
  display: inline-block;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  position: relative;
  transition-duration: 0.3s ease-in;
}

.icon-forward:hover > div > i {
  transform: translateX(16px);
}
</style>
