<template>
  <v-container fill-height grey darken-3>
    <v-layout wrap grey darken-2>
    <v-layout wrap justify-start align-start>
      <v-flex xs12>
        <alpha-gallery
        :categories="categories"
        :projects="projects"
        ></alpha-gallery>
      </v-flex>
    </v-layout>

    </v-layout>
  </v-container>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  name: 'Portolio',
  data: () => ({
  }),
  computed: {
    categories () {
      return this.$t('Views.Projects.categories')
    },
    projects () {
      return this.$t('Views.Projects.projects')
    }
  },
  mounted () {
    this.dark()
  },
  methods: {
    ...mapMutations({
      dark: 'DARK'
    })
  },
  beforeDestroy () {
    this.dark()
  }
}
</script>

<style>

</style>
