<template>
  <v-container fill-height>
    <v-layout wrap justify-center align-center>
      <v-flex shrink>
          <app-gallery
          ></app-gallery>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {

}
</script>

<style>

</style>
