<template>
    <v-carousel>
    <v-carousel-item
    v-for="(item,i) in items"
    :src="item.src"
    :key="i"
    :dark="dark"
    :light="light"
    :interval="interval"
    ></v-carousel-item>
  </v-carousel>
</template>

<script>
export default {
  name: 'MacflyCarousel',

  props: {
    items: {
      type: Array,
      required: true
    },
    dark: {
      type: Boolean,
      default: true,
      required: false
    },
    light: {
      type: Boolean,
      default: false,
      required: false
    },
    controls: {
      type: Boolean,
      required: false
    },
    interval: {
      type: Number,
      required: false,
      default: 6000
    },
    lazy: {
      type: Boolean,
      required: false
    }
  }

}
</script>

<style>

</style>
