<template>
<v-container>
  <v-layout wrap>
<v-flex xs12>
    <section class="box-container">
    <div id="cube" class="spinning">
      <figure class="front"><img src="/static/images/carousel/photo-5.jpeg" alt=""></figure>
      <figure class="back"><img src="/static/images/carousel/photo-2.jpg" alt=""></figure>
      <figure class="right"><img src="/static/images/carousel/photo-3.jpg" alt=""></figure>
      <figure class="left"><img src="/static/images/carousel/photo-4.jpeg" alt=""></figure>
      <figure class="top"><img src="/static/images/carousel/photo-1.jpg" alt=""></figure>
      <figure class="bottom"><img src="/static/images/carousel/photo-6.jpg" alt=""></figure>
    </div>
  </section>
</v-flex>
  </v-layout>
</v-container>
</template>

<script>
export default {

}
</script>

<style scoped>
  .box-container {
      width: 200px;
      height: 200px;
      position: relative;
      margin: 0 auto 40px;
      border: 0 solid #CCC;
      perspective: 1200px;
         -moz-perspective: 1200px;
           -o-perspective: 1200px;
              perspective: 1200px;
    }

    #cube {
      width: 100%;
      height: 100%;
      position: absolute;
      transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;
      transform: translateZ( -100px );
         -moz-transform: translateZ( -100px );
           -o-transform: translateZ( -100px );
              transform: translateZ( -100px );
    }

    #cube.spinning {
      animation: spinCube 8s infinite ease-in-out;
    }

    @keyframes spinCube {
        0% { transform: translateZ( -100px ) rotateX(   0deg ) rotateY(   0deg ); }
      100% { transform: translateZ( -100px ) rotateX( 360deg ) rotateY( 360deg ); }
    }

    #cube figure {
      display: block;
      position: absolute;
      width: 201px;
      height: 201px;
      border: 2px solid black;
      line-height: 196px;
      font-size: 120px;
      font-weight: bold;
      color: white;
      text-align: center;
    }

    #cube.panels-backface-invisible figure {
      backface-visibility: hidden;
         -moz-backface-visibility: hidden;
           -o-backface-visibility: hidden;
              backface-visibility: hidden;
    }

    #cube .front  { background: hsla(   0, 100%, 50%, 0.7 ); }
    #cube .back   { background: hsla(  60, 100%, 50%, 0.7 ); }
    #cube .right  { background: hsla( 120, 100%, 50%, 0.7 ); }
    #cube .left   { background: hsla( 180, 100%, 50%, 0.7 ); }
    #cube .top    { background: hsla( 240, 100%, 50%, 0.7 ); }
    #cube .bottom { background: hsla( 300, 100%, 50%, 0.7 ); }

    #cube .front  {
      transform: translateZ( 100px );
         -moz-transform: translateZ( 100px );
           -o-transform: translateZ( 100px );
              transform: translateZ( 100px );
    }
    #cube .back {
      transform: rotateX( -180deg ) translateZ( 100px );
         -moz-transform: rotateX( -180deg ) translateZ( 100px );
           -o-transform: rotateX( -180deg ) translateZ( 100px );
              transform: rotateX( -180deg ) translateZ( 100px );
    }
    #cube .right {
      transform: rotateY(   90deg ) translateZ( 100px );
         -moz-transform: rotateY(   90deg ) translateZ( 100px );
           -o-transform: rotateY(   90deg ) translateZ( 100px );
              transform: rotateY(   90deg ) translateZ( 100px );
    }
    #cube .left {
      transform: rotateY(  -90deg ) translateZ( 100px );
         -moz-transform: rotateY(  -90deg ) translateZ( 100px );
           -o-transform: rotateY(  -90deg ) translateZ( 100px );
              transform: rotateY(  -90deg ) translateZ( 100px );
    }
    #cube .top {
      transform: rotateX(   90deg ) translateZ( 100px );
         -moz-transform: rotateX(   90deg ) translateZ( 100px );
           -o-transform: rotateX(   90deg ) translateZ( 100px );
              transform: rotateX(   90deg ) translateZ( 100px );
    }
    #cube .bottom {
      transform: rotateX(  -90deg ) translateZ( 100px );
         -moz-transform: rotateX(  -90deg ) translateZ( 100px );
           -o-transform: rotateX(  -90deg ) translateZ( 100px );
              transform: rotateX(  -90deg ) translateZ( 100px );
    }
img {
  width: 200px;
  height: 200px;
}
</style>
