<template>
<div id="app">
  <v-app id="inspire">
    <v-content>
      <v-layout>
        <v-flex md6>
          <v-card>
            <v-card-text>
              <div slot="activator">
              <p class="text-xs-center"></p>
              <b> title</b>
              <p style="text-align: center;">Job place: <b>New York</b></p>
              </div>

              <v-menu open-on-hover left offset-x :close-on-content-click="false">
                <div slot="activator">
                <p class="text-xs-center"></p>
                  <b> title</b>
                  <p style="text-align: center;">Job place: <b>New York</b>
                </p>
                </div>
                <v-card>
                  <v-card-text>
                  some options to select here <br>
                  some options to select here <br>
                  some options to select here <br>
                  some options to select here <br>
                  </v-card-text>
                </v-card>
              </v-menu>
            </v-card-text>
          </v-card>
</v-flex>
</v-layout>

</v-content>
</v-app>
</div>

</template>
