<template>
  <v-app
  :dark="dark">
    <app-toolbar />
    <app-jumbotron />
      <dot-loader :loading="loading" :color="spinner.color" :size="spinner.size" class="mcSpinner"></dot-loader>
    <app-drawer />


    <app-view />

    <app-footer />
  </v-app>
</template>

<script>
  import DotLoader from 'vue-spinner/src/DotLoader.vue'
  import AppDrawer from '@/components/core/AppDrawer'
  import AppFooter from '@/components/core/AppFooter'
  import AppToolbar from '@/components/core/AppToolbar'
  import AppView from '@/components/core/AppView'
  import AppJumbotron from '@/components/core/AppJumbotron'
  import Meta from '@/mixins/meta'
  import { mapState } from 'vuex'

  export default {
    components: {
      AppDrawer,
      AppFooter,
      AppToolbar,
      AppJumbotron,
      AppView,
      DotLoader

    },
    mixins: [Meta],
    data: () => ({
      spinner: {
        color: '#ee44aa',
        size: '128px'
      }
    }),
    computed: {
      ...mapState(['loading', 'dark'])
    },
    mounted () {
    }
  }
</script>
<style>
@import url('/assets/css/main.css');
</style>

